<form [formGroup]="awsBucketForm" >
    <div class="form-group">
        <label for="aws_region"  class="control-label">Region:</label>
        <input type="text" class="form-control" id="aws_region" placeholder="Enter AWS Region" formControlName="awsRegion" />
      </div>
    <div class="form-group">
      <label for="bucketName"  class="control-label">Bucket Name: </label>
      <input type="text" class="form-control" id="bucketName" placeholder="Enter Bucket Name" formControlName="bucketName" />
    </div>
   
    <div class="form-group">
        <label for="aws_cognito_identity_pool" class="control-label">AWS Cognito Indentity Pool:</label>
        <input type="text" class="form-control" id="aws_cognito_identity_pool" placeholder="Enter Cognito Identity Pool Id#" formControlName="identityPoolId" />
        <p>Click to read <a  href="https://medium.com/@kgotgit/how-to-save-files-to-aws-s3-bucket-using-temporary-credentials-via-aws-cognito-aws-sdk-javascript-3dfa14ac20a6?source=friends_link&sk=241d85df244ad179001a82691ed7d0f9" target="_blank">Medium Post </a> for details on how to create AWS Cognito Identity Pool and integrate with S3 bucket</p>
      </div>
  </form>



<label class="btn btn-default">
  <input hidden type="file" (change)="selectFile($event)" class="d-none" #fileInput>
</label>
<div>
    
<button class="btn btn-primary" [disabled]="showSummary" (click)="fileInput.click()"><i class="fa fa-spinner fa-spin"[hidden]="!fileuploading"> </i>Upload file to S3</button>
<button class="btn btn-primary "  (click)="listAllFiles()"><i class="fa fa-spinner fa-spin"[hidden]="!listLoading"></i>
  List All file(s) in S3 Bucket </button>
<button class="btn btn-warning float-right"  (click)="resetFileUpload()">Clear</button>
</div>
 


<div *ngIf="showSummary">
<ul class="list-group well">
  <li class="list-group-item"><strong>File Name:</strong> &nbsp;{{fileName}} </li>
  <li class="list-group-item"><strong>S3 URL:</strong> &nbsp;<a href="{{locationUrl}}" class="btn btn-link" target="_blank">{{locationUrl}}</a></li>
  <li  class="list-group-item"><strong>Bucket Name:</strong> &nbsp; {{serviceBucketName}} </li>
  
</ul>

</div>

<div *ngIf="listObjects">

<table class="table table-bordered">
  <thead>
    <tr>
      <th>File Name</th>
      <th>File Size</th>
   </tr></thead>
  <tbody>
    <tr *ngFor="let item of allfileslist">
      <td>{{item.Key}}</td>
      <td>{{item.Size}}</td>
    </tr>
  </tbody>
</table>

</div>